.header {
  background: $medium-blue;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $xs-size;
    width: 100%;
}

.header__content-container {
    margin: 0 auto;
    padding: $m-size;
  }

.header__title_small {
    text-align: center;
    font-size: 16px;
    margin-bottom: 0;
    color: #B9D0EF;
    opacity: 1;
}

.header__title_big {
    text-align: center;
    font-size: 27px;
    letter-spacing: 1.3px;
    color: #fff;
    opacity: 1;
}

.header__icon {
    font-size: 16px !important;
}

.header__right {
    padding-right: 1em;
    //margin-bottom: -3%;
    img {
        max-height: 260px;
    }
}

.header__left { 
    padding-left: 1em;
    //margin-bottom: -3%;
    img {
        max-height: 260px;
    }
}

.header-img {
    max-width: 200px;
    margin-left: 25%;
    margin-top: 5px;
}

.header__img_arrow {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 32px;
}